{% extends 'index.html' %}

{% block title %}
  Create Product
{% endblock %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Create New Product</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" action="/products/store" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">
              <div class="form-group">
                <label for="ddlc" class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-5">
                  <select name="optCategory" id="ddlc" class="form-control">
                    {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputupdateby" class="col-sm-2 control-label">Barcode</label>
                <div class="col-sm-10">
                  <input type="text" name="txtBarcode" class="form-control" id="inputupdateby" placeholder="Barcode" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="txtProductName" class="form-control" id="inputname" placeholder="Category Name" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputcreateby" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                  <input type="text" name="txtPrice" class="form-control" id="inputcreateby" placeholder="Price" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputupdateby" class="col-sm-2 control-label">Quantity</label>
                <div class="col-sm-10">
                  <input type="text" name="txtQuantity" class="form-control" id="inputupdateby" placeholder="Quantity" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputupdateby" class="col-sm-2 control-label">Photo</label>
                <div class="col-sm-10">
                  <input type="file" name="photo" id="inputupdateby" />
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <a href="/products/index" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-info pull-right">Add</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
{% endblock %}
